.container-input {
    position: relative;
  }
  
  .searchInput {
    width: 350px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;   
  }
  
  .container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
  .searchInput:focus {
    opacity: 1;
    width: 425px;
  }